.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OSX hidden files
.DS_Store

/node_modules
/public/hot
/public/storage
/public/assemblin_config
/config/constants.php
/storage/*.key
/storage
/vendor
/public/images
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
lora.json